mixin button(name, style, text, classes)
  li(class!=attributes.class)
    .preview-text-field__wrap 
      b.preview-text-field__item-name= name
      span.preview-text-field__item-style= style
    if link
      a.button(href=link, class=classes && classes)= text
    else
      if state === 'disabled'
        button.button(class=classes, disabled)= text
      else
        button.button(class=classes, disabled)= text
