mixin pagination(name, page, page1, page2, page3, page4, content)
  li(class!=attributes.class)
    .preview-text-field__wrap 
      b.preview-text-field__item-name= name
    ul.pagination
      li
        a(href)=page
      li
        a(href)=page1
      li
        a(href)=page2
      li
        a(href)=page3
      li
        a(href)=page4
      li
        a(href)
          i(class='material-icons') arrow_forward
    p=content