mixin radio-buttons(name, label, label1, id, id1)
  li(class!=attributes.class)
    b.form-elements-center-column__item-name= name
    ul(class='radio-buttons')
      li
        input(type="radio" checked name="sex" id=id)
        span
        label(for=id)=label
      li
        input(type="radio" name="sex" id=id1)
        span
        label(for=id1)=label1