mixin radio-buttons(name, label, label1, id, id1)
  if withoutTitle == false
    li(class!=attributes.class)
      b.form-elements-center-column__item-name= name
      ul(class='radio-buttons')
        li
          label(for=id)=label
            input(type="radio" checked name="sex" id=id)
            span
        li
          label(for=id1)=label1
            input(type="radio" name="sex" id=id1)
            span
  if withoutTitle == true
    li(class!=attributes.class)
      ul(class='radio-buttons')
        li
          label(for=id)=label
            input(type="radio" checked name="sex" id=id)
            span
        li
          label(for=id1)=label1
            input(type="radio" name="sex" id=id1)
            span