mixin icon-text-list(header, content, header1, content1)
  li(class!=attributes.class)
    ul(class='icon-text-list')
      li
        i(class='material-icons') mood
        section
          h2=header
          p=content
      li
        i(class='material-icons')
          img(src=require(`blocks/icon-text-list/location_city.svg`).default alt=content1)
        section
          h2=header1
          p=content1